{% extends 'admin/sbadmin.html.twig' %}

{% block title %}Ajouter une categoerie{% endblock %}


{% block body %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <a href="{{ path('admin_post_add') }}" class="btn btn-primary my-3">Ajouter</a>


        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Liste des posts
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Date</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Date</th>
                            <th>Active</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for post in posts %}
                            <tr>
                                <td>{{post.id}}</td>
                                <td>{{post.title}}</td>
                                <td>{{post.user.email}}</td>
                                <td>{{post.createdAt | date}}</td>
                                <td>{{post.active}}</td>
                                <td><a href="{{ path('admin_post_update', {id: post.id}) }}" class="btn btn-primary btn-sm">Modifier</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
        
        
    </div>
</main>
{% endblock %}
