{% extends 'admin/sbadmin.html.twig' %}

{% block title %}Ajouter une categoerie{% endblock %}


{% block body %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>

            <h1>Ajouter une categorie</h1>
            {# {{form(form)}} #}

            {{ form_start(form) }}
                {{ form_row(form.name) }}
                
                {# {{ form_row(form.Valider) }} #}

                <button type="submit" class="btn btn-lg btn-primary my-3" action="{{ path('admin_category_add') }}">Valider</button>
            {{ form_end(form) }}

        
        
    </div>
</main>
{% endblock %}
