{% extends 'admin/sbadmin.html.twig' %}

{% block title %}Ajouter une categoerie{% endblock %}


{% block body %}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Dashboard</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <a href="{{ path('admin_category_add') }}" class="btn btn-primary my-3">Ajouter</a>


        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                Liste des categories
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Parent</th>
                            <th>Nom</th>
                            <th>Sluge</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Parent</th>
                            <th>Nom</th>
                            <th>Sluge</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {% for categorie in categories %}
                            <tr>
                                <td>{{categorie.id}}</td>
                                <td>{{categorie.parent}}</td>
                                <td>{{categorie.name}}</td>
                                <td>{{categorie.slug}}</td>
                                <td><a href="{{ path('admin_category_update', {id: categorie.id}) }}" class="btn btn-primary btn-sm">Modifier</a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
        
        
    </div>
</main>
{% endblock %}
